.pr-2 {
	padding-right: 2px;
}
.pr-4 {
	padding-right: 4px;
}
.pr-6 {
	padding-right: 6px;
}
.pr-8 {
	padding-right: 8px;

	@media screen and (max-width: 768px) {
		padding-right: 4px;
	}
}
.pr-10 {
	padding-right: 10px;

	@media screen and (max-width: 768px) {
		padding-right: 5px;
	}
}
.pr-12 {
	padding-right: 12px;

	@media screen and (max-width: 768px) {
		padding-right: 6px;
	}
}
.pr-14 {
	padding-right: 14px;

	@media screen and (max-width: 768px) {
		padding-right: 7px;
	}
}
.pr-16 {
	padding-right: 16px;

	@media screen and (max-width: 768px) {
		padding-right: 8px;
	}
}
.pr-18 {
	padding-right: 18px;

	@media screen and (max-width: 768px) {
		padding-right: 9px;
	}
}
.pr-20 {
	padding-right: 20px;

	@media screen and (max-width: 768px) {
		padding-right: 10px;
	}
}
.pr-30 {
	padding-right: 30px;

	@media screen and (max-width: 768px) {
		padding-right: 15px;
	}
}
.pr-40 {
	padding-right: 40px;

	@media screen and (max-width: 768px) {
		padding-right: 20px;
	}
}
.pr-50 {
	padding-right: 50px;

	@media screen and (max-width: 768px) {
		padding-right: 25px;
	}
}
.pr-60 {
	padding-right: 60px;

	@media screen and (max-width: 768px) {
		padding-right: 30px;
	}
}
.pr-70 {
	padding-right: 70px;

	@media screen and (max-width: 768px) {
		padding-right: 35px;
	}
}
.pr-80 {
	padding-right: 80px;

	@media screen and (max-width: 768px) {
		padding-right: 40px;
	}
}
.pr-90 {
	padding-right: 90px;

	@media screen and (max-width: 768px) {
		padding-right: 45px;
	}
}
.pr-100 {
	padding-right: 100px;

	@media screen and (max-width: 768px) {
		padding-right: 50px;
	}
}
