.mb-2 {
	margin-bottom: 2px;
}
.mb-4 {
	margin-bottom: 4px;
}
.mb-6 {
	margin-bottom: 6px;
}
.mb-8 {
	margin-bottom: 8px;

	@media screen and (max-width: 768px) {
		margin-bottom: 4px;
	}
}
.mb-10 {
	margin-bottom: 10px;

	@media screen and (max-width: 768px) {
		margin-bottom: 5px;
	}
}
.mb-12 {
	margin-bottom: 12px;

	@media screen and (max-width: 768px) {
		margin-bottom: 6px;
	}
}
.mb-14 {
	margin-bottom: 14px;

	@media screen and (max-width: 768px) {
		margin-bottom: 7px;
	}
}
.mb-16 {
	margin-bottom: 16px;

	@media screen and (max-width: 768px) {
		margin-bottom: 8px;
	}
}
.mb-18 {
	margin-bottom: 18px;

	@media screen and (max-width: 768px) {
		margin-bottom: 9px;
	}
}
.mb-20 {
	margin-bottom: 20px;

	@media screen and (max-width: 768px) {
		margin-bottom: 10px;
	}
}
.mb-30 {
	margin-bottom: 30px;

	@media screen and (max-width: 768px) {
		margin-bottom: 15px;
	}
}
.mb-40 {
	margin-bottom: 40px;

	@media screen and (max-width: 768px) {
		margin-bottom: 20px;
	}
}
.mb-50 {
	margin-bottom: 50px;

	@media screen and (max-width: 768px) {
		margin-bottom: 25px;
	}
}
.mb-60 {
	margin-bottom: 60px;

	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}
}
.mb-70 {
	margin-bottom: 70px;

	@media screen and (max-width: 768px) {
		margin-bottom: 35px;
	}
}
.mb-80 {
	margin-bottom: 80px;

	@media screen and (max-width: 768px) {
		margin-bottom: 40px;
	}
}
.mb-90 {
	margin-bottom: 90px;

	@media screen and (max-width: 768px) {
		margin-bottom: 45px;
	}
}
.mb-100 {
	margin-bottom: 100px;

	@media screen and (max-width: 768px) {
		margin-bottom: 50px;
	}
}
