.m-auto {
	margin: auto;
}
.m-2 {
	margin: 2px;
}
.m-4 {
	margin: 4px;
}
.m-6 {
	margin: 6px;
}
.m-8 {
    margin: 8px;

	@media screen and (max-width: 768px) {
		margin: 4px;
	}
}
.m-10 {
	margin: 10px;

	@media screen and (max-width: 768px) {
		margin: 5px;
	}
}
.m-12 {
	margin: 12px;

	@media screen and (max-width: 768px) {
		margin: 6px;
	}
}
.m-14 {
	margin: 14px;

	@media screen and (max-width: 768px) {
		margin: 7px;
	}
}
.m-16 {
	margin: 16px;

	@media screen and (max-width: 768px) {
		margin: 8px;
	}
}
.m-18 {
	margin: 18px;

	@media screen and (max-width: 768px) {
		margin: 9px;
	}
}
.m-20 {
	margin: 20px;

	@media screen and (max-width: 768px) {
		margin: 10px;
	}
}
.m-30 {
	margin: 30px;

	@media screen and (max-width: 768px) {
		margin: 15px;
	}
}
.m-40 {
	margin: 40px;

	@media screen and (max-width: 768px) {
		margin: 20px;
	}
}
.m-50 {
	margin: 50px;

	@media screen and (max-width: 768px) {
		margin: 25px;
	}
}
.m-60 {
	margin: 60px;

	@media screen and (max-width: 768px) {
		margin: 30px;
	}
}
.m-70 {
	margin: 70px;

	@media screen and (max-width: 768px) {
		margin: 35px;
	}
}
.m-80 {
	margin: 80px;

	@media screen and (max-width: 768px) {
		margin: 40px;
	}
}
.m-90 {
	margin: 90px;

	@media screen and (max-width: 768px) {
		margin: 45px;
	}
}
.m-100 {
	margin: 100px;

	@media screen and (max-width: 768px) {
		margin: 100px;
	}
}
