#colors {
	$white: #fff !global;
	$black: #0e0e2c !global;
	$tripadvisor: #34e0a1 !global;
	$light-grey: #f2f7fc !global;
	$sunmar-bg-grey: #fafafa !global;
	$sunmar-red: #d8242a !global;
	$sunmar-red-hover: #ac1c21 !global;
	$coral-yellow: #f0ab00 !global;
	$coral-yellow-hover: #d18f00 !global;
}
