.lead__title {
  margin: 0 0 24px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  color: #000000;
  display: block !important;
}
@media screen and (max-width: 1006px) {
  .lead__title {
    font-size: 4.7vw;
    line-height: 1.2;
  }
}
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 6vw;
  }
}
.lead__title:last-child {
  margin: 0;
}